<!DOCTYPE html>
<html lang="es">

<!-- <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Venner Wine | Tienda</title>

  <!-- <link rel="icon" href="../wireframe/desktop/logo_venner.ico" type="image/icon" /> -->
  <link rel="stylesheet" href="/css/productCart.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mohave&family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/header.ejs') %>

    <main>
      <h2>Tu Carrito de Compras</h2>
      <h4>Producto</h4>
      <ul type="none" class="tabla">
        <li>Producto</li>
        <li>Detalle</li>
        <li>Cantidad</li>
        <li>Precio</li>
      </ul>
      <article>
        <div>
          <img src="/images/products/arcangel.png" alt="Vino1" />
        </div>
        <div>
          <p>
            ARCANGEL MIKHAIL 750 cc<br />
            Código de producto: 1009551<br />
            LOS ARCANGELES
          </p>
        </div>
        <div>
          <select name="select" id="cantidad">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div>
          <p>$ 72899.91</p>
        </div>
      </article>
      <div class="subtotal">
        <h3>Subtotal</h3>
        <p>$ 72899,91</p>
      </div>
      <div class="botones">
        <button type="submit" name="continuar" alt="#">CONTINUAR COMPRA</button>
        <button type="submit" name="finalizar" alt="#">FINALIZAR COMPRA</button>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>