<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contacto.css">
    <title>CONTACTO</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>

            <form action="" method="" class="search-bar">
                <input type="search" name="" id="" placeholder="   Buscar producto">
                <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            
            <div class="logo">
                <a href=""><img src="images/venner-logo3.png" alt="Logo de Venner"></a>
            </div>
            
            <div class="icons">
                <a href=""><i href="#" class="fa-solid fa-cart-shopping cart"></i></a>
                <a href=""><i href="#" class="fa-solid fa-circle-user user"></i></a>
            </div>
        </div>

        <nav>
            <ul class="nav-bar">
                <li><a href="#">VINOS ARGENTINOS</a></li>
                <li><a href="#">VINOS IMPORTADOS</a></li>
                <li><a href="#">PROMOCIONES</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="top-main">
            <h1>CONTACTO</h1>
            <p>Escribinos tus consultas o deja un comentario, te responderemos a la brevedad.</p>
        </div>

        <div class="form-consulta">
            <form action="" method="">
                <label for="nombre">NOMBRE Y APELLIDO: </label>
                <input type="text" name="nombre" id="nombre" required>

                <label for="email">E-MAIL: </label>
                <input type="email" name="email" id="email" required>

                <label for="select">SELECCIONE: </label>
                <select name="select" id="select" required>
                    <option value="consulta">Consulta</option>
                    <option value="comercial">Comercial</option>
                    <option value="trabajo">Trabajá con nosotros</option>
                </select>

                <label for="comentario">DEJE SU COMENTARIO: </label>
                <textarea name="comentario" id="comentario" cols="30" rows="10" required></textarea>

                <button type="submit">ENVIAR</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="container">
            <div>
                <h4><strong>TIENDA</strong></h4>
                <ul>
                    <li>Sucursales</li>
                    <li>Vinos Argentinos</li>
                    <li>Vinos Importados</li>
                    <li>Promociones</li>
                </ul>
            </div>
    
            <div>
                <h4><strong>ACERCA DE NOSOTROS</strong></h4>
                <ul>
                    <li>Quienes somos?</li>
                    <li>Trabajá con nosotros</li>
                    <li>Medios de pago</li>
                </ul>
            </div>
    
            <div>
                <h4><strong>SERVICIO AL CLIENTE</strong></h4>
                <ul>
                    <li>Login / Registrarse</li>
                    <li>Términos y condiciones</li>
                    <li>Politica de privacidad</li>
                    <li>Botón de arrepentimiento</li>
                </ul>
            </div>
    
            <div>
                <h4><strong>CONTACTANOS!</strong></h4>
                <ul class="social-networks">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                    <li><a href="#" class="fab fa-whatsapp"></a></li>
                    <li><a href="#" class="fab fa-x-twitter"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>&copy; 2023 <b>Wine Fans</b> - Todos los derechos reservados.</p>
        </div>
    </footer>
    
</body>
</html>