<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="headerv2.css">

  <title>Venner Wine Store</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <header>
    <div class="header-content">
        <span class="icons">
            <i class="fa-solid fa-bars"></i>
        </span>

        <form action="" method="" class="search-bar">
            <input type="search" name="" id="" placeholder="Buscar producto">
            <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        
        <div class="logo">
            <a href=""><img src="venner-logo3.png" alt="Logo de Venner"></a>
        </div>
        
        <div class="icons">
            <a href=""><i href="#" class="fa-solid fa-cart-shopping cart"></i></a>
            <a href=""><i href="#" class="fa-solid fa-circle-user user"></i></a>
        </div>
    </div>

    <nav>
        <ul class="nav-bar">
            <li><a href="#">VINOS ARGENTINOS</a></li>
            <li><a href="#">VINOS IMPORTADOS</a></li>
            <li><a href="#">PROMOCIONES</a></li>
            <li><a href="#">NOSOTROS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
</header>
  <main>Soy el main</main>

  <footer>
    
    <div class="grupo-1">

      <div class="barra-sup">
        <h2>Tienda</h2>
        <a href="#">
          <p>Sucursales</p>
        </a>
        <a href="#">
          <p>Vinos argentinos</p>
        </a>
        <a href="#">
          <p>Vinos importados</p>
        </a>
        <a href="#">
          <p>Promociones web</p>
        </a>
      </div>

      <div class="barra-sup">
        <h2>Acerca Nuestro</h2>
        <a href="#">
          <p>Quiénes somos</p>
        </a>
        <a href="#">
          <p>Trabajá con nosotros</p>
        </a>
        <a href="#">
          <p>Medios de pago</p>
        </a>
      </div>

      <div class="barra-sup">
        <h2>Servicio al cliente</h2>
        <a href="#">
          <p>Login/Registrarse</p>
        </a>
        <a href="#">
          <p>Términos y condiciones</p>
        </a>
        <a href="#">
          <p>Política de privacidad</p>
        </a>
        <a href="#">
          <p>Botón de arrepentimiento</p>
        </a>
      </div>

      <div class="contacto barra-sup">

        <h2>Contactanos</h2>
        <div class="red-social">
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-whatsapp"></a>
          <a href="#" class="fab fa-x-twitter"></a>
          <a href="#" class="fab fa-linkedin"></a>
        </div>

        <div class="email">
          <a href="mailto:empresa@vinotecavenner.com.ar">empresa@vinotecavenner.com.ar</a>
        </div>
      </div>

      <div class="qr">
        <img src="/qrcode-generado.png" alt="QR">
      </div>
    </div>

    <div class="grupo-2">
      <p>©2023 <b>Wine Fans</b> - Todos los derechos reservados.</p>
    </div>
  </footer>
</body>

</html>