<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="headerv2.css">
    <title>V E N N E R</title>
</head>
<body>
    <header>
        <div class="header-content">
            <span class="icons">
                <i class="fa-solid fa-bars"></i>
            </span>

            <form action="" method="" class="search-bar">
                <input type="search" name="" id="" placeholder="Buscar producto">
                <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            
            <div class="logo">
                <a href=""><img src="images/venner-logo3.png" alt="Logo de Venner"></a>
            </div>
            
            <div class="icons">
                <a href=""><i href="#" class="fa-solid fa-cart-shopping cart"></i></a>
                <a href=""><i href="#" class="fa-solid fa-circle-user user"></i></a>
            </div>
        </div>

        <nav>
            <ul class="nav-bar">
                <li><a href="#">VINOS ARGENTINOS</a></li>
                <li><a href="#">VINOS IMPORTADOS</a></li>
                <li><a href="#">PROMOCIONES</a></li>
                <li><a href="#">NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>