<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venner Wine Store y amigos</title>
    <link rel="icon" href="../wireframe/desktop/logo_venner.ico" type="image/icon">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="search-bar">
            <input type="search" placeholder="Buscar">
        </div>
        <div class="logo">
          <img src="/images/logo_venner.png" alt="Logo">
        </div>
        <div class="login-form">
            <form>
                <button>Crear Cuenta/Iniciar sesión</button>
            </form>
        </div>
    </nav>
    <menu class="bottom-menu">
        <ul>
            <li><a href="#">Vinos Argentinos</a></li>
            <li><a href="#">Vinos Importados</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Promociones Web</a></li>
            <li><a href="#">Acerca Nuestro</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </menu>

    <section>
        <img src="/images/banner.png" alt="banner-big">
    </section>

    <footer> <div class="grupo-1">
        <div class="box">
          <figure>
            <a href="#">
              <img src="../images/logo_venner.png" alt="logo">
            </a>
          </figure>
        </div>
        <div class="box">
          <h2>Venner Wine Store</h2>
          <p>Belgrano Sur 600 Piso 17</p>
          <p>Santiago del Estero Capital</p>
          <p>Teléfono: (0385) 499-9999</p>
          <p>Whatsapp: 3854123456 </p>
        </div>
        <div class="box">
          <h2>Seguinos</h2>
            <div class="red-social">
              <a href="https://www.facebook.com/profile.php?id=100047320767112" class="fa fa-facebook"></a>
              <a href="https://instagram.com/neumaticos.santiago" class="fa fa-instagram"></a>
              <a href="https://wa.me/3854128280" class="fa fa-whatsapp"></a>
            </div>
        </div>
      </div>
      <div class="grupo-2">
        <small>&copy; 2023 <b>Wine Fans</b> - Todos los derechos reservados.</small>
      </div></footer>
</body>
</html>