<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header>
        <h2>Aqui hay un header</h2>
    </header>
    <main>
        <section>
            <div class="products">
                <article class="main-article">
                    <div class="image-article">
                        <img src="/images/vinos/catena.png" alt="Catena Zapata">
                    </div>
                    <div class="details-article">
                        <h4>Catena Zapata Malbec</h4>
                        <p class="price">$1500</p>
                        <p class="type"><strong>Tipo de vino:</strong> Tinto</p>
                        <p class="uva"><strong>Uva:</strong> Malbec</p>
                        <p class="origin"><strong>Origen:</strong> Valle de Uco, Mendoza</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </article>
                <article>
                    <div class="image-article">
                        <img src="/images/vinos/don.png" alt="DON Malbec">
                    </div>
                    <div class="details-article">
                        <h4>DON Malbec</h4>
                        <p class="price">$2750</p>
                        <p class="type">Tipo de vino: Tinto</p>
                        <p class="uva">Uva: Malbec</p>
                        <p class="origin">Origen: Valle de Uco, Mendoza</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </article>
                <article>
                    <div class="image-article">
                        <img src="/images/vinos/zuccardi.png" alt="Zuccardi">
                    </div>
                    <div class="details-article">
                        <h4>Zuccardi</h4>
                        <p class="price">$3250</p>
                        <p class="type">Tipo de vino: Tinto</p>
                        <p class="uva">Uva: Cabernet Sauvignon</p>
                        <p class="origin">Origen: Valle de Uco, Mendoza</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </article>
                <article>
                    <div class="image-article">
                        <img src="/images/vinos/estancia.webp" alt="Estancia Mendoza">
                    </div>
                    <div class="details-article">
                        <h4>Estancia Mendoza</h4>
                        <p class="price">$1800</p>
                        <p class="type">Tipo de vino: Tinto</p>
                        <p class="uva">Uva: Malbec</p>
                        <p class="origin">Origen: Mendoza, Argentina</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </article>
                <article>
                    <div class="image-article">
                        <img src="/images/vinos/yacochuya.png" alt="Yacochuya">
                    </div>
                    <div class="details-article">
                        <h4>Yacochuya</h4>
                        <p class="price">$1800</p>
                        <p class="type">Tipo de vino: Tinto</p>
                        <p class="uva">Uva: Malbec</p>
                        <p class="origin">Origen: Cafayate, Salta</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </article>
                <article>
                    <div class="image-article">
                        <img src="/images/vinos/colome.png" alt="Colomé Altura Maxima">
                    </div>
                    <div class="details-article">
                        <h4>Colomé Altura Maxima</h4>
                        <p class="price">$5800</p>
                        <p class="type">Tipo de vino: Tinto</p>
                        <p class="uva">Uva: Malbec</p>
                        <p class="origin">Origen: Cafayate, Salta</p>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <h2>Aqui hay un footer</h2>
    </footer>
</body>
</html>