* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Mohave, sans-serif;
}

/* ================= */
/* ESTILOS AL HEADER */
/* ================= */

header {
    background-color: #5E0D26;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.icons {
    display: flex;
}

.cart, .user, .burger {
    margin: auto 0px;
    font-size: 20px;
    text-align: center;
}

.icons .fa-solid {
    width: 40px;
    color: #FAF7EE;
}

.logo {
    width: 40%;
    max-width: 250px;
}

.logo img {
    width: 100%;
    max-width: 250px;
}

.search-bar {
    display: none;
}

/* ====================== */
/* ESTILOS AL BURGER MENU */
/* ====================== */

.open-menu, .close-menu {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-bar {
    list-style: none;
    background-color: #FAF7EE;
    color: #5E0D26;
    opacity: 0.9;
    font-weight: bold;
    letter-spacing: 2px;
    position: fixed;
    height: 100vh;
    width: 80%;
    top: 0;
    right: -100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.nav-bar li {
    padding: 30px 0px;
}

.nav-bar a {
    text-decoration: none;
    color: #5E0D26;
    font-size: 24px;
    font-weight: bold;
}

#check {
    display: none;
}

#check:checked ~ nav .nav-bar {
    right: 0;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media (min-width: 768px) {
    .cart, .user {
        padding: 10px;
        margin: auto 0px;
        font-size: 28px;
        text-align: center;
    }

    .search-bar input {
        font-size: 16px;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: #F5DEBF;
        width: 80%;
        max-width: 300px;
        outline: none;
        padding-left: 12px;
    }

    .search-bar button {
        font-size: 16px;
        width: 40px;
        height: 40px;    
        border: none;
        border-radius: 10px;
        background-color: #F5DEBF;
        float: right;
    }

    /* ====================== */
    /* ESTILOS AL BURGER MENU */
    /* ====================== */
    .burger {
        display: none;
    }

    .nav-bar {
        list-style: none;
        background-color: #F5DEBF;
        color: #5E0D26;
        font-weight: bold;
        letter-spacing: 2px;
        position: static;
        height: 48px;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-bar a {
        font-size: 18px;
        font-weight: bold;
    }

    .nav-bar .close-menu{display: none}

    .search-bar {
        display: block;
        margin: auto 0px;
        background-color: #F5DEBF;
        border-radius: 10px;
        width: 30%;
    }
}