* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Mohave", Arial, Helvetica, sans-serif;
}

/* ESTILOS A LA SECCION DE PRODUCTOS */
main {
	width: 90%;
	margin: 0 auto;
}

/* ¡¡¡¡¡¡¡¡¡¡¡ NUEVO DISEÑO !!!!!!!!!!*/
.products {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 25px;
}

.box-product {
	width: 45%;
	max-width: 150px;
	margin: 20px auto;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgb(100, 100, 100);
	position: relative;
}

.product-image a {
	text-decoration: none;
	color: black;
	text-align: center;
}

.product-image{
	margin-bottom: 5px;
}

.product-image img {
	width: 80%;
	display: block;
	margin: auto;
}

.product-image i {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	color: red;
}

.product-name {
	vertical-align: middle;
	padding: 10px 0px;
	height: 64px;
	overflow: auto;
}

.product-name h3 {
	/* padding: 10px; */
	font-size: 16px;
}

.product-details {
	text-align: center;
	position: relative;
	border-top: 1px solid #ebebeb;
	padding: 20px 10px;
	min-height: 86px;
}

.discount {
	position: absolute;
	background-color: green;
	font-family: "Segoe UI";
	font-size: 14px;
	color: white;
	padding: 5px;
	border-radius: 10px;
	top: -15px;
	right: 5px;
}

.old-price {
	font-size: 14px;
	color: rgb(106, 101, 101);
}

.price {
	font-size: 18px;
	font-weight: 600;
}

.add-to-cart {
	width: 100%;
	background-color: #f5debf;
	color: #5e0d26;
	cursor: pointer;
	border: none;
	border-radius: 0 0 20px 20px;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	padding: 10px 0px;
}

.add-to-cart .fa-cart-shopping {
	transition: all ease 400ms;
}

.add-to-cart:hover .fa-cart-shopping {
	scale: 1.3;
	rotate: 360deg;
}

/* CONFIGURACION DE ESTILOS PARA TABLETS */
@media (min-width: 768px) {
	.box-product {
		width: 30%;
	}
}

/* CONFIGURACION DE ESTILOS PARA DESKTOP */
@media (min-width: 1024px) {
	.box-product {
		width: 30%;
		max-width: 250px;
	}
}
