<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contacto.css">
    <title>CONTACTO</title>
</head> -->
<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="top-main">
            <h1>CONTACTO</h1>
            <p>Escribinos tus consultas o deja un comentario, te responderemos a la brevedad.</p>
        </div>

        <div class="form-consulta">
            <form action="" method="">
                <label for="nombre">NOMBRE Y APELLIDO: </label>
                <input type="text" name="nombre" id="nombre" required>

                <label for="email">E-MAIL: </label>
                <input type="email" name="email" id="email" required>

                <label for="select">SELECCIONE: </label>
                <select name="select" id="select" required>
                    <option value="consulta">Consulta</option>
                    <option value="comercial">Comercial</option>
                    <option value="trabajo">Trabajá con nosotros</option>
                </select>

                <label for="comentario">DEJE SU COMENTARIO: </label>
                <textarea name="comentario" id="comentario" cols="30" rows="10" required></textarea>

                <button type="submit">ENVIAR</button>
            </form>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>