<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>VENNER Vinoteca</title>
</head> -->

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <section class="banner">
            <img src="images/drinkwine.png" alt="">
        </section>

        <h2>AQUI SE MUESTRAN OFERTAS</h2>

        <section class="banner">
            <img src="images/horadeunvinito.png" alt="">
        </section>

        <h2>AQUI SE MUESTRAN OTROS PRODUCTOS</h2>

        <section class="banner">
            <img src="images/regalamomentos.png" alt="">
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>