<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title: 'VENNER Vinoteca' , css: 'home.css'
  }) %>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="banner">
        <img src="images/drinkwine.png" alt="" />
      </section>

      <h2>AQUI SE MUESTRAN OFERTAS</h2>

      <section class="banner">
        <img src="images/horadeunvinito.png" alt="" />
      </section>

      <h2>AQUI SE MUESTRAN OTROS PRODUCTOS</h2>

      <section class="banner">
        <img src="images/regalamomentos.png" alt="" />
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
