<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/nosotros.css">
    <title>NOSOTROS</title>
</head> -->

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <main>

        <div class="nosotros">
            <div class="quienes-somos">
                <h1>QUIENES SOMOS</h1>
                <p>Somos una vinoteca apasionada por la cultura del vino y dedicada a brindar a nuestros clientes una experiencia única de descubrimiento y deleite vinícola. En Venner entendemos que el vino no es simplmente una bebida sino una experiecia que mejora la vida.</p>
        
                <p>Durante 15 años hemos estado comprometidos con la búsqueda de los vinos más exquisitos y exclusivos de todas las regiones vinícolas del mundo. Trabajamos estrechamente con bodegas artesanales y productores renombrados para traerte una selección cuidadosamente curada de vinos de alta calidad.</p>
            </div>

            <div class="integrantes">
                <h2>EL EQUIPO</h2>
                <h3>Almaraz, Santiago Emanuel</h3>
                <p><strong>Analista de Ventas:</strong> Este rol podría “analizar” las tendencias de ventas, identificar los vinos más populares y sugerir posibles vinos emergentes.</p>
            </div>
            
            <div class="integrantes">
                <h3>Leguizamon, Lucas</h3>
                <p><strong>Desarrollador Web:</strong> A cargo del diseño y mantenimiento del sitio web, asegurándome de que sea fácil de usar y estéticamente atractivo.</p>
            </div>
            
            <div class="integrantes">
                <h3>Luna, Ivana Alejandra</h3>
                <p><strong>Gerente de Experiencia al Cliente:</strong> Encargada de hacer que la experiencia dentro de tu página web sea sumamente placentera, garantizando que el proceso de compra sea fluido y agradable. Creando, además, una interacción con el cliente manejando consultas y resolviendo problemas que ayude a cumplir con sus exigencias.</p>
            </div>
            
            <div class="integrantes">
                <h3>Monteros Azurmendi, Luana</h3>
                <p><strong>Especialista en adquisiciones:</strong> A cargo de la seleccion y obtención de vinos que se alineará con los objetivos y el perfil de la empresa, en terminos de calidad y sabores deseados. Mantener contacto con productores y bodegas, negociar el precio y términos de compra, además de estar al tanto de las tendencias enológicas.</p>
            </div>
            
            <div class="integrantes">
                <h3>Saavedra, Matias</h3>
                <p><strong>Director de Cata de Vinos:</strong> Responsable de probar y seleccionar los vinos que se ofrecerán en la tienda. Mi funcion es realizar descripciones detalladas y sugerencias de maridaje para cada vino.</p>
            </div>
        </div>

        <div class="iframe-map">
            <h2>DONDE NOS ENCONTRAMOS?</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112936.5572347362!2d-64.34945044634651!3d-27.80153849812471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943b526adf33f96b%3A0x9a9d18ed7764c8d6!2sSantiago%20del%20Estero!5e0!3m2!1ses-419!2sar!4v1701443007630!5m2!1ses-419!2sar"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>