<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: #F5DEBF;
    }

    .error {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        height: 100vh;
        gap: 140px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #AA2923;
    }

    .error h1 {
        font-size: 100px;
        
    }
    .error h2 {
        font-size: 60px;
    }
</style>

<body>
    <div class="error">
        <h1>404 ERROR</h1>
        <h2>Page Not Found</h2>
        <img src="/images/imagen_2023-12-03_084649086-removebg-preview-removebg-preview.png" alt="">
    </div>

</body>

</html>