<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/footer.css">
    <title>VENNER Vinoteca</title>
</head>

<footer>
    <div class="container">
        <div>
            <h4><strong>TIENDA</strong></h4>
            <ul>
                <li>Sucursales</li>
                <li>Vinos Argentinos</li>
                <li>Vinos Importados</li>
                <li>Promociones</li>
            </ul>
        </div>

        <div>
            <h4><strong>ACERCA DE NOSOTROS</strong></h4>
            <ul>
                <li>Quienes somos?</li>
                <li>Trabajá con nosotros</li>
                <li>Medios de pago</li>
            </ul>
        </div>

        <div>
            <h4><strong>SERVICIO AL CLIENTE</strong></h4>
            <ul>
                <li>Login / Registrarse</li>
                <li>Términos y condiciones</li>
                <li>Politica de privacidad</li>
                <li>Botón de arrepentimiento</li>
            </ul>
        </div>

        <div>
            <h4><strong>CONTACTANOS!</strong></h4>
            <ul class="social-networks">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="#" class="fab fa-whatsapp"></a></li>
                <li><a href="#" class="fab fa-x-twitter"></a></li>
                <li><a href="#" class="fab fa-linkedin"></a></li>
            </ul>
            <img src="/images/qrcode-generado.png" alt="" width="50">
        </div>
    </div>

    <div class="copyright">
        <p>&copy; 2023 <b>Wine Fans</b> - Todos los derechos reservados.</p>
    </div>
</footer>