<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/footer.css">
    <title>VENNER Vinoteca</title>
</head>

<footer>

    <div class="grupo-1">

        <div class="barra-sup">
            <h2>Tienda</h2>
            <a href="#">
                <p>Sucursales</p>
            </a>
            <a href="#">
                <p>Vinos argentinos</p>
            </a>
            <a href="#">
                <p>Vinos importados</p>
            </a>
            <a href="#">
                <p>Promociones web</p>
            </a>
        </div>

        <div class="barra-sup">
            <h2>Acerca Nuestro</h2>
            <a href="#">
                <p>Quiénes somos</p>
            </a>
            <a href="#">
                <p>Trabajá con nosotros</p>
            </a>
            <a href="#">
                <p>Medios de pago</p>
            </a>
        </div>

        <div class="barra-sup">
            <h2>Servicio al cliente</h2>
            <a href="#">
                <p>Login/Registrarse</p>
            </a>
            <a href="#">
                <p>Términos y condiciones</p>
            </a>
            <a href="#">
                <p>Política de privacidad</p>
            </a>
            <a href="#">
                <p>Botón de arrepentimiento</p>
            </a>
        </div>

        <div class="contacto barra-sup">

            <h2>Contactanos</h2>
            <div class="red-social">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-whatsapp"></a>
                <a href="#" class="fab fa-x-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>

            <div class="email">
                <a href="mailto:empresa@vinotecavenner.com.ar">empresa@vinotecavenner.com.ar</a>
            </div>
        </div>

        <div class="qr">
            <img src="/images/qrcode-generado.png" alt="QR">
        </div>
    </div>

    <div class="grupo-2">
        <p>©2023 <b>Wine Fans</b> - Todos los derechos reservados.</p>
    </div>
</footer>