<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/homev2.css">
    <title>VENNER Vinoteca</title>
</head>