<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b3437fcea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/slideShow.css">
</head>

<section>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="/images/horadeunvinito.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="/images/drinkwine.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="/images/regalamomentos.png" style="width:100%">
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <script src="/js/slideShow.js"></script>
</section>